click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
altgraph==0.17
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.8.0
colorama==0.4.1
cycler==0.10.0
dask==1.1.2
decorator==4.3.2
easygui==0.98.1
future==0.18.2
idna==2.8
inflection==0.3.1
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==3.0.2
more-itertools==6.0.0
networkx==2.2
parso==0.3.4
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==2.0.9
Pygments==2.3.1
PyInstaller==3.6
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
pywin32-ctypes==0.2.0
Quandl==3.4.6
requests==2.21.0
six==1.12.0
sklearn==0.0
toolz==0.9.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
xlrd==1.2.0
yellowbrick==0.9.1
